<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to DICOM Portal</title>
  </head>
  <body style="font-family: Arial; text-align: center; padding: 50px;">
    <h1>Welcome to the Radiology Portal</h1>
    <p>Please choose an option:</p>
    <div style="margin-top: 30px;">
      <a href="{% url 'login' %}">
        <button style="padding: 10px 20px; margin-right: 20px;">Login</button>
      </a>
      <a href="{% url 'signup' %}">
        <button style="padding: 10px 20px;">Sign Up</button>
      </a>
    </div>
  </body>
</html>
